body {
	margin: 1rem;
	background-color: rgb(214, 211, 211);
	font-family: Inika;
	color: rgb(54, 54, 54);
}

header {
	display: flex;
	justify-content: space-between;
}

header .right {
	padding-top: 1.7rem;
}

img {
	width: 15rem;
	/* height: 12rem; */
}

a {
	text-decoration: none;
	color: grey;
}

#gallery {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.gallery {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#gallery .name {
	font-weight: 610;
	font-size: 1.2rem;

}

.builder {
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.year, .status {
	font-weight: 100;
	font-size: 1rem;
}


.done, .prod, .not-started {
	font-size: small;
	font-weight: 300;
	padding: 2px;
}

.done {
	background-color: aquamarine;
}

.prod {
	background-color: rgb(255, 179, 37);
}

.not-started {
	background-color: rgb(216, 112, 112);
}
